@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin:0; font-family:"Orbitron",sans-serif;
  background:#fff; color:#111;
}

/* HEADER */
header {
  position: fixed;
  top: 0; left: 0; width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: transparent;
  z-index: 1000;
  box-sizing: border-box;
}

header .logo {
  font-size: 32px;
  font-weight: 700;
  color: #00e0ff;
  text-shadow: 0 0 4px rgba(0,0,0,0.8);
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav button {
  background: rgba(0, 0, 0, 0.4); /* 80% solid, masih ada sedikit transparan */
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  text-shadow: 0 0 3px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0; left: 0; width: 100%;
  background:tranparent;
  text-align: center;
  padding: 6px 12px;
  z-index: 1000;
}

footer .footer-text {
  font-size: 0.7rem;
  font-weight: 500;
  color: #111;
  text-shadow: 0 0 3px;
  background: rgba(0,0,0,0.8);
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
}

/* MAP */
#map { width:100%; height:100vh; }

